In [1]:
#importing all necesssary Libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
import time
import requests
import os
import warnings
warnings.filterwarnings('ignore')

#### Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
1. Rank
2. Name
3. Artist
4. Upload date
5. Views

In [2]:
#Connecting to WebDriver
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(1)
#Maximising the window
driver.maximize_window()

#Scraping the Necessary Info
name = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[2]')
Name = [i.text for i in name]

artist = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]')
Artist = [i.text for i in artist]

rank = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[1]')
Rank = [i.text for i in rank]

views = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[4]')
Views = [i.text for i in views]

date = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[5]')
Upload_date = [i.text for i in date]

time.sleep(2)

#Modifying the name column
New_Name = []
for i in Name:
    start_index = i.index('"')
    end_index = i.rindex('"')
    text = i[start_index+1:end_index]
    New_Name.append(text)   

time.sleep(1)
driver.close()

In [3]:
#converting Into DataFrame
data = {
    'Rank':Rank,
    'Video Title': New_Name,
    'Uploader/Artist':Artist,
    'Views':Views,
    'Upload Date':Upload_date
}
df = pd.DataFrame(data)
df

,Rank,Video Title,Uploader/Artist,Views,Upload Date
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,12.00,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,8.05,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,6.57,"October 8, 2016"
3,4.,Bath Song,Cocomelon – Nursery Rhymes,5.89,"May 2, 2018"
4,5.,Shape of You,Ed Sheeran,5.88,"January 30, 2017"
5,6.,See You Again,Wiz Khalifa,5.74,"April 6, 2015"
6,7.,Phonics Song with Two Words,ChuChu TV,5.08,"March 6, 2014"
7,8.,Uptown Funk,Mark Ronson,4.79,"November 19, 2014"
8,9.,Wheels on the Bus,Cocomelon – Nursery Rhymes,4.77,"May 24, 2018"
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.76,"February 27, 2018"
10,11.,Gangnam Style,Psy,4.64,"July 15, 2012"
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,4.52,"January 31, 2012"
12,13.,Dame Tu Cosita,El Chombo,4.18,"April 5, 2018"
13,14.,Sugar,Maroon 5,3.80,"January 14, 2015"
14,15.,Roar,Katy Perry,3.70,"September 5, 2013"
15,16.,Counting Stars,OneRepublic,3.70,"May 31, 2013"
16,17.,Axel F,Crazy Frog,3.67,"June 16, 2009"
17,18.,Sorry,Justin Bieber,3.62,"October 22, 2015"
18,19.,Thinking Out Loud,Ed Sheeran,3.53,"October 7, 2014"
19,20.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,3.46,"June 25, 2018"
20,21.,Dark Horse,Katy Perry,3.42,"February 20, 2014"
21,22.,Waka Waka (This Time for Africa),Shakira,3.40,"June 4, 2010"
22,23.,Faded,Alan Walker,3.38,"December 3, 2015"
23,24.,Let Her Go,Passenger,3.36,"July 25, 2012"
24,25.,Girls Like You,Maroon 5,3.35,"May 31, 2018"
25,26.,Perfect,Ed Sheeran,3.33,"November 9, 2017"
26,27.,Bailando,Enrique Iglesias,3.31,"April 11, 2014"
27,28.,Lean On,Major Lazer,3.31,"March 22, 2015"
28,29.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.26,"January 26, 2018"
29,30.,Lakdi Ki Kathi,Jingle Toons,3.24,"June 14, 2018"

#### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
1. Match title (I.e. 1st ODI)
2. Series
3. Place
3. Date
5. Time

- Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [25]:
#Connecting to the Url
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://www.bcci.tv/')
#Maximising the window
driver.maximize_window()
time.sleep(1)

international = driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a').click()
time.sleep(1)

In [27]:
more = driver.find_element(By.XPATH,'//button[@ng-click="viewMoreMatches()"]')
while True:
    try:
        more.click()
    except StaleElementReferenceException:
        break
    except ElementClickInterceptedException:
        break
    except NoSuchElementException:
        break

In [28]:
#Extracting the Required info

match = driver.find_elements(By.XPATH,'//*[@id="fixtures"]/div[3]/div/div/div/div[1]/h5[2]/span')
Match = [i.text for i in match]

series = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
Series = [i.text for i in series]

place = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
Place = [i.text for i in place]

date = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
Date = [i.text for i in date]

time = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
Time = [i.text for i in time]

In [29]:
#Converting to Dataframe
data = {
    'Match':Match,
    'Series':Series,
    'Place':Place,
    'Date':Date,
    'Time':Time
}
df = pd.DataFrame(data)
df

,Match,Series,Place,Date,Time
0,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4th T20I -,"Steyn City School Ground,",3 JAN 2023,1:30 PM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,1st T20I -,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
2,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,5th T20I -,"Steyn City School Ground,",4 JAN 2023,1:30 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I -,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
4,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I -,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
5,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
6,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,"Eden Gardens,",12 JAN 2023,1:30 PM IST
7,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"Greenfield International Stadium,",15 JAN 2023,1:30 PM IST
8,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"Rajiv Gandhi International Stadium,",18 JAN 2023,1:30 PM IST
9,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,Shaheed Veer Narayan Singh International Crick...,21 JAN 2023,1:30 PM IST
10,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"Holkar Cricket Stadium,",24 JAN 2023,1:30 PM IST
11,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,1st T20I -,"JSCA International Stadium Complex,",27 JAN 2023,7:30 PM IST
12,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,2nd T20I -,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,29 JAN 2023,7:30 PM IST
13,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,3rd T20I -,"Narendra Modi Stadium,",1 FEB 2023,7:30 PM IST
14,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,1st Test -,"Vidarbha Cricket Association Stadium,",9 FEB 2023,9:30 AM IST
15,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,2nd Test -,"Arun Jaitley Stadium,",17 FEB 2023,9:30 AM IST
16,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,3rd Test -,"Himachal Pradesh Cricket Association Stadium,",1 MAR 2023,9:30 AM IST
17,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,4th Test -,"Narendra Modi Stadium,",9 MAR 2023,9:30 AM IST
18,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
19,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
20,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

#### Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
1. Name
2. Description
- Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [18]:
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://www.guru99.com/')
driver.maximize_window()

Sel = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a').click()
time.sleep(2)
excep = driver.find_element(By.XPATH,'//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()
time.sleep(2)

para = driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p')
Exception  = [i.text.split(':')[0] for i in para[:41]]
Description = [i.text.split(':')[1] for i in para[:41]]

driver.close()

In [19]:
#converting Into DataFrame
data = {
    'Exception Name':Exception,
    'Description':Description
}
df = pd.DataFrame(data)
df

,Exception Name,Description
0,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException,This Exception occurs if an element could not...
3,4. NoSuchFrameException,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException,This Exception occurs if the window target to...
6,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
8,9. TimeoutException,Thrown when there is not enough time for a co...
9,10. WebDriverException,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException,This type of Exception takes place when there...
11,12. ElementClickInterceptedException,The command may not be completed as the eleme...
12,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException,It takes place when IME support is unavailable.
17,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException,This type of Exception matches an interacting...
21,22. InvalidElementStateException,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,25. JavascriptException,This issue occurs while executing JavaScript ...
25,26. JsonException,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,29. NoSuchContextException,ContextAware does mobile device testing.
29,30. NoSuchCookieException,This Exception occurs when no cookie matching...
30,31. NotFoundException,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
32,33. ScreenshotException,It is not possible to capture a screen.
33,34. SessionNotCreatedException,It happens when a new session could not be su...
34,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
36,37. UnhandledAlertException,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,39. UnknownMethodException,This Exception happens when the requested com...
39,40. UnreachableBrowserException,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

#### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
1. Rank
2. State
3. GSDP(18-19)- at current prices
4. GSDP(19-20)- at current prices
5. Share(18-19)
6. GDP($ billion)
- Note: - From statisticstimes home page you have to reach to economy page through code.

In [21]:
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://www.statisticstimes.com/')
driver.maximize_window()
time.sleep(1)

dropdown = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button').click()
India = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

In [22]:
Gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

rank = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
Rank = [i.text for i in rank]

state = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
State = [i.text for i in state]

gsdp_18 = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
GSDP_18_19 = [i.text for i in gsdp_18]

gsdp_19 = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
GSDP_19_20 = [i.text for i in gsdp_19]

share = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
Share = [i.text for i in share]

gdp = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')                            
GDP = [i.text for i in gdp]

driver.close()

In [23]:
#converting Into DataFrame
data  = {
    'Rank':Rank,
    'State':State,
    'GSDP (18-19)':GSDP_18_19,
    'GSDP (19-20)':GSDP_19_20,
    'Share':Share,
    'GDP':GDP
}
df = pd.DataFrame(data)
df

   Rank                      State GSDP (18-19) GSDP (19-20)   Share      GDP
0     1                Maharashtra    2,632,792            -  13.94%  399.921
1     2                 Tamil Nadu    1,630,208    1,845,853   8.63%  247.629
2     3              Uttar Pradesh    1,584,764    1,687,818   8.39%  240.726
3     4                    Gujarat    1,502,899            -   7.96%  228.290
4     5                  Karnataka    1,493,127    1,631,977   7.91%  226.806
5     6                West Bengal    1,089,898    1,253,832   5.77%  165.556
6     7                  Rajasthan      942,586    1,020,989   4.99%  143.179
7     8             Andhra Pradesh      862,957      972,782   4.57%  131.083
8     9                  Telangana      861,031      969,604   4.56%  130.791
9    10             Madhya Pradesh      809,592      906,672   4.29%  122.977
10   11                     Kerala      781,653            -   4.14%  118.733
11   12                      Delhi      774,870      856,112   4.10%  117.703
12   13                    Haryana      734,163      831,610   3.89%  111.519
13   14                      Bihar      530,363      611,804   2.81%   80.562
14   15                     Punjab      526,376      574,760   2.79%   79.957
15   16                     Odisha      487,805      521,275   2.58%   74.098
16   17                      Assam      315,881            -   1.67%   47.982
17   18               Chhattisgarh      304,063      329,180   1.61%   46.187
18   19                  Jharkhand      297,204      328,598   1.57%   45.145
19   20                Uttarakhand      245,895            -   1.30%   37.351
20   21            Jammu & Kashmir      155,956            -   0.83%   23.690
21   22           Himachal Pradesh      153,845      165,472   0.81%   23.369
22   23                        Goa       73,170       80,449   0.39%   11.115
23   24                    Tripura       49,845       55,984   0.26%    7.571
24   25                 Chandigarh       42,114            -   0.22%    6.397
25   26                 Puducherry       34,433       38,253   0.18%    5.230
26   27                  Meghalaya       33,481       36,572   0.18%    5.086
27   28                     Sikkim       28,723       32,496   0.15%    4.363
28   29                    Manipur       27,870       31,790   0.15%    4.233
29   30                   Nagaland       27,283            -   0.14%    4.144
30   31          Arunachal Pradesh       24,603            -   0.13%    3.737
31   32                    Mizoram       22,287       26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands            -            -       -        -

#### Q5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
1. Repository title
2. Repository description
3. Contributors count
4. Language used

- Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://github.com/')
driver.maximize_window()
time.sleep(1)


source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
time.sleep(1)
trend = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()
time.sleep(1)

name = driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h1/a')
Name = [i.text for i in name]

Desc = driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/p')
Description =  [i.text for i in Desc]

Url = [i.get_attribute('href') for i in name]

In [4]:
Info = []

for url in Url:
    driver.get(url)
    time.sleep(2)
    info = driver.find_element(By.XPATH,'//div[@class="Layout-sidebar"]')
    Info.append(info.text.split('\n'))


Contributors = []
for List in Info:
    for i in List:
        if i.startswith("Contributors"):
            Contributors.append(i.replace('Contributors ',''))
            break
    else:
        Contributors.append('-')
        
        
Languages = []
for List in Info:
    Lang = False
    sublist = []
    for e in List:
        if e == 'Languages':
            Lang = True
        if Lang:
            sublist.append(e)
    Languages.append(sublist)        
    Lang = False

In [5]:
#converting Into DataFrame
data = {
    'Name':Name,
    'Description':Description,
    'Contributor Count':Contributors,
    'Languages':Languages
}
df = pd.DataFrame(data)
df

,Name,Description,Contributor Count,Languages
0,zlib-searcher / zlib-searcher,search zlib/libgen index to get ipfs_cid.,9,"[Languages, TypeScript, 64.6%, Rust, 26.6%, Sh..."
1,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,45,"[Languages, Jupyter Notebook, 88.4%, Python, 8..."
2,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",396,"[Languages, Python, 92.6%, Makefile, 7.4%]"
3,2dust / v2rayNG,"A V2Ray client for Android, support Xray core ...",23,"[Languages, Kotlin, 96.7%, Java, 3.3%]"
4,karpathy / nanoGPT,"The simplest, fastest repository for training/...",2,"[Languages, Python, 100.0%]"
5,ashemery / exploitation-course,Offensive Software Exploitation Course,-,"[Languages, Python, 97.6%, C, 2.4%]"
6,mxssl / sre-interview-prep-guide,Site Reliability Engineer Interview Preparatio...,12,[]
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,76,[]
8,Z4nzu / hackingtool,ALL IN ONE Hacking Tool For Hackers,27,"[Languages, Python, 92.5%, Shell, 7.0%, Docker..."
9,zakird / crux-top-lists,Downloadable snapshots of the Chrome Top Milli...,-,"[Languages, Python, 100.0%]"
10,termux / termux-packages,A build system and primary set of packages for...,376,"[Languages, Shell, 70.2%, C, 18.5%, Lua, 3.8%,..."
11,priyankavergadia / GCPSketchnote,If you are looking to become a Google Cloud En...,2,[]
12,vercel / hyper,A terminal built on web technologies,274,"[Languages, TypeScript, 98.1%, Other, 1.9%]"
13,alist-org / alist,🗂️A file list program that supports multiple s...,30,"[Languages, Go, 99.5%, Other, 0.5%]"
14,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,314,"[Languages, C++, 87.9%, C, 10.1%, Objective-C+..."
15,calcom / cal.com,Scheduling infrastructure for absolutely every...,190,"[Languages, TypeScript, 96.6%, JavaScript, 1.1..."
16,pola-rs / polars,"Fast multi-threaded, hybrid-streaming DataFram...",141,"[Languages, Rust, 70.3%, Python, 29.6%, Other,..."
17,github / docs,The open-source repo for docs.github.com,"1,628","[Languages, JavaScript, 71.4%, TypeScript, 26...."
18,jerryjliu / gpt_index,An index created by GPT to organize external i...,7,"[Languages, Python, 95.7%, Jupyter Notebook, 4..."
19,OpenBB-finance / OpenBBTerminal,"Investment Research for Everyone, Anywhere.",158,"[Languages, Python, 100.0%]"
20,itzg / docker-minecraft-server,Docker image that provides a Minecraft Server ...,177,"[Languages, Shell, 97.7%, Dockerfile, 2.3%]"
21,pmndrs / zustand,🐻 Bear necessities for state management in React,138,"[Languages, TypeScript, 97.5%, JavaScript, 2.5%]"
22,google / osv-scanner,Vulnerability scanner written in Go which uses...,15,"[Languages, Go, 99.5%, Other, 0.5%]"
23,jellyfin / Swiftfin,Native Jellyfin Client for iOS and tvOS,113,"[Languages, Swift, 100.0%]"
24,laurent22 / joplin,Joplin - an open source note taking and to-do ...,513,"[Languages, TypeScript, 60.6%, JavaScript, 33...."

#### Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
1. Song name
2. Artist name
3. Last week rank
4. Peak rank
5. Weeks on board
- Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [16]:
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://www.billboard.com/')
time.sleep(1)
driver.maximize_window()

charts = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
time.sleep(2)
Hot_100 = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a').click()
time.sleep(1)

Data =  driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')

Song_name = [i.text.split('\n')[0] for i in Data]
Artist = [i.text.split('\n')[1] for i in Data]
Last_week_rank = [i.text.split('\n')[2] for i in Data]
peak_rank = [i.text.split('\n')[3] for i in Data]
weeks_board = [i.text.split('\n')[4] for i in Data]
time.sleep(1)

driver.close()

In [17]:
#converting Into DataFrame
data = {
    'Song Name':Song_name,
    'Artist':Artist,
    'Last Week Rank':Last_week_rank,
    'Peak Position':peak_rank,
    'Weeks on Board':weeks_board
}
df = pd.DataFrame(data)
df

,Song Name,Artist,Last Week Rank,Peak Position,Weeks on Board
0,1,All I Want For Christmas Is You,Mariah Carey,1,1
1,2,Rockin' Around The Christmas Tree,Brenda Lee,2,2
2,3,Jingle Bell Rock,Bobby Helms,4,3
3,4,A Holly Jolly Christmas,Burl Ives,5,4
4,5,Last Christmas,Wham!,6,5
...,...,...,...,...,...
95,96,RE- ENTRY,Down Home,Jimmie Allen,-
96,97,One Thing At A Time,Morgan Wallen,81,37
97,98,Hold Me Closer,Elton John & Britney Spears,89,6
98,99,Far,SZA,61,61
99,100,All Mine,Brent Faiyaz,95,42

#### Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
1. Name
2. Designation
3. Company
4. Skills they hire for
5. Location
- Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [4]:
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://www.naukri.com/hr-recruiters-consultants')
driver.maximize_window()
time.sleep(1)

recu = driver.find_element(By.XPATH,'//input[@class="sugInp"]').send_keys('Data Science')
search = driver.find_element(By.XPATH,'//button[@id="qsbFormBtn"]').click()
time.sleep(2)

Hr_card = driver.find_elements(By.XPATH,'//div[@class="recInfo"]')
Card = [i.text.split('\n') for i in Hr_card]

Hr_name = [i[0] for i in Card]
Desgination = [i[1] for i in Card]
Company = [i[2] for i in Card]
Skills = [i[-2] for i in Card]
time.sleep(1)

Location = []

for i in Card:
    if len(i)==6:
        Location.append('-')
    else:
        Location.append(i[3])

driver.close()

In [5]:
#converting Into DataFrame
Data = {
    'Recruiter Name':Hr_name,
    'Designation':Desgination,
    'Company':Company,
    'Skills i hire for':Skills,
    'Location':Location
}
df= pd.DataFrame(Data)
df

,Recruiter Name,Designation,Company,Skills i hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-

#### Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
1. Book name
2. Author name
3. Volumes sold
4. Publisher
5. Genre

In [15]:
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.maximize_window()
time.sleep(1)

genre = driver.find_elements(By.XPATH,'//td[@class="last left"]')
Genre = [i.text for i in genre]

info = driver.find_elements(By.XPATH,'//td[@class="left"]')
Info = [i.text for i in info]
time.sleep(1)

Name = Info[1::5]
Author = Info[2::5]
Volumes_sold = Info[3::5]
Publisher = Info[4::5]
driver.close()

In [43]:
#converting Into DataFrame
data = {
    'Book Name': Name,
    'Author':Author,
    'Volumes Sold':Volumes_sold,
    'Publisher':Publisher,
    'Genre':Genre
}
df = pd.DataFrame(data)
df

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
1. Name
2. Year span
3. Genre
4. Run time
5. Ratings
6. Votes

In [10]:
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

name = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div[3]/div/div[2]/h3/a')
Name = [i.text for i in name]

span = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div[3]/div/div[2]/h3/span[2]')
Year_span = [i.text for i in span]

genre = driver.find_elements(By.XPATH,'//span[@class="genre"]')
Genre = [i.text for i in genre]

Time = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
Runtime = [i.text for i in Time]

vote = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]')
Votes = [i.text for i in vote]

rate = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
Ratings  = [i.text for i in rate]

driver.close()

In [11]:
data = {
    'TV Show':Name,
    'Year Span':Year_span,
    'Genre':Genre,
    'Runitme':Runtime,
    'Ratings':Ratings,
    'Votes':Votes
}
df = pd.DataFrame(data)
df

,TV Show,Year Span,Genre,Runitme,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,100,469"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,190,757"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,332"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,273"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,371"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,382"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,996"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,979"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,715"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"247,036"

#### Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
1. Dataset name
2. Data type
3. Task
4. Attribute type
5. No of instances
6. No of attribute
7. Year
- Note: - from the home page you have to go to the ShowAllDataset page through code

In [6]:
driver = webdriver.Chrome(r'C:\Users\chizz\Downloads\chromedriver_win32.zip\chromedriver.exe')
driver.get('https://archive.ics.uci.edu/ml/index.php')
driver.maximize_window()

view = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()
time.sleep(2)

driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [14]:
name = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
Name = [i.text for i in name[1:]]

d_type = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
D_Type = [i.text for i in d_type[1:]]

task = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
Task = [i.text for i in task[1:]]

attribute = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
Attribute = [i.text for i in attribute[1:]]

instances = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
Instances = [i.text for i in instances[1:]]

num_attri = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
Num_attr = [i.text for i in num_attri[1:]]

year = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
Year = [i.text for i in year[1:]]

In [16]:
#Coverting the data to a DataFrame
data = {
    'Dataset Name':Name,
    'Dataset Type':D_Type,
    'Task':Task,
    'Attribute Type':Attribute,
    'No of instances':Instances,
    'No of attribute':Num_attr,
    'Year':Year
}
df = pd.DataFrame(data)
df

,Dataset Name,Dataset Type,Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021